@{
  Layout = "_Layout";
}

<h1>Welcome to yr Salon Control Panel, Claire!</h1>
<hr>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p> 
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
