@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("See all clients", "Index", "Clients", null, new { @class = "sitenav"})</p>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists", null, new { @class = "sitenav"})</p>
